<h1> Create an Account </h1>

<h3 align="right"><%= link_to "Home", root_path %></h3>

<%= form_tag({controller: "users", action: "create"}, action: "/users", method: "post") do %>
  <%= label_tag(:username, "Username") %>
  <%= text_field(:user, :username) %>
  <br />

  <%= label_tag(:password, "Password") %>
  <%= password_field(:user, :password) %>
  <br />

  <%= label_tag(:password_confirmation, "Confirm Password") %>
  <%= password_field(:user, :password_confirmation) %>
  <br />

  <%= label_tag(:birthdate, "Date of Birth") %>
  <%= date_select(:user, :birthdate, start_year: 1900, use_two_digit_numbers: true, order: [:month, :day, :year]) %>
  <br />

  <%= label_tag(:gender, "Gender") %>
  <%= radio_button(:user, :gender, "M") %>
  <%= label_tag(:genderM, "M") %>
  <%= radio_button(:user, :gender, "F") %>
  <%= label_tag(:genderF, "F") %> 
  <br />

  <%= label_tag(:email, "E-mail Address") %>
  <%= email_field(:user, :email) %>
  <br />

  <%= submit_tag("Register") %>
<% end %>
